@font-face {
    font-family: 'Parangon';
    src: local('Parangon 530 C'), local('Parangon-530-C'),
        url('Parangon530C.woff2') format('woff2'),
        url('Parangon530C.woff') format('woff'),
        url('Parangon530C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }